<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#900C3F'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#900C3F'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#900C3F'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#900C3F'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/git-hub.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#900C3F'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showSubtitle]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#900C3F'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>
