<div class="row">
    <div class="col-1"></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoPerfil">
        <h4 id="nombre">Melisa Moreno</h4>
        <p class="titulo">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>¿Buscan a una persona con excelente predisposición y buen trato, sobre todo para la interacción con usuarios? ¿Buscan a un profesional con marcada orientación a resultados y resolución de problemas?<br>
            Me presento, mi nombre es Melisa Moreno y soy estudiante de Desarrollo de Software. Como regla primordial, existe la buena comunicación con el usuario, ya que necesitamos tener una visión de la problemática para luego plasmar las posibles soluciones. ¿Es un lenguaje que no manejo? No hay ningún inconveniente, disfruto de ser desafiada y participar en proyectos que requieren que trabaje fuera de mi conjunto de conocimientos y comodidad, ya que continuar aprendiendo nuevos lenguajes y técnicas de desarrollo son importantes para mí y para el éxito de su organización.<br>
            Me pueden contactar en cualquier momento a través de mis redes sociales adjuntos en el sitio web.</p>
        </span>
    </div>
</div>
