.row{
    background: #581845;
}

footer{
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999; 
}

p{
    margin: 0 auto;
    padding: 8px;
}

.city{
    padding-top: 0px;
}
